Step 1: Explore the Sandbox Data

In [ ]:
import os
print(os.getcwd())

D:\Projects_2025\ml_service

In [2]:
# In your notebook
import pandas as pd
df_sample = pd.read_csv('data/raw/accepted_2007_to_2018Q4.csv', nrows=50000)

C:\Users\21658\AppData\Local\Temp\ipykernel_20748\1147157911.py:3: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sample = pd.read_csv('data/raw/accepted_2007_to_2018Q4.csv', nrows=50000)

Step 2: Initial Exploration

In [3]:
# See the first 5 rows to get a visual feel for the data
df_sample.head()

# Get a summary of all columns, their data types, and non-null counts
# This is one of the most important commands.
df_sample.info(verbose=True, show_counts=True)

# See the percentage of missing values for each column, sorted
print(df_sample.isnull().mean().sort_values(ascending=False))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 151 columns):
 #    Column                                      Non-Null Count  Dtype
---   ------                                      --------------  -----
 0    id                                          50000 non-null  int64
 1    member_id                                   0 non-null      float64
 2    loan_amnt                                   50000 non-null  float64
 3    funded_amnt                                 50000 non-null  float64
 4    funded_amnt_inv                             50000 non-null  float64
 5    term                                        50000 non-null  object
 6    int_rate                                    50000 non-null  float64
 7    installment                                 50000 non-null  float64
 8    grade                                       50000 non-null  object
 9    sub_grade                                   50000 non-null  object
 10   emp_title                                   47005 non-null  object
 11   emp_length                                  47011 non-null  object
 12   home_ownership                              50000 non-null  object
 13   annual_inc                                  50000 non-null  float64
 14   verification_status                         50000 non-null  object
 15   issue_d                                     50000 non-null  object
 16   loan_status                                 50000 non-null  object
 17   pymnt_plan                                  50000 non-null  object
 18   url                                         50000 non-null  object
 19   desc                                        3 non-null      object
 20   purpose                                     50000 non-null  object
 21   title                                       49868 non-null  object
 22   zip_code                                    50000 non-null  object
 23   addr_state                                  50000 non-null  object
 24   dti                                         49999 non-null  float64
 25   delinq_2yrs                                 50000 non-null  float64
 26   earliest_cr_line                            50000 non-null  object
 27   fico_range_low                              50000 non-null  float64
 28   fico_range_high                             50000 non-null  float64
 29   inq_last_6mths                              50000 non-null  float64
 30   mths_since_last_delinq                      26001 non-null  float64
 31   mths_since_last_record                      9185 non-null   float64
 32   open_acc                                    50000 non-null  float64
 33   pub_rec                                     50000 non-null  float64
 34   revol_bal                                   50000 non-null  float64
 35   revol_util                                  49976 non-null  float64
 36   total_acc                                   50000 non-null  float64
 37   initial_list_status                         50000 non-null  object
 38   out_prncp                                   50000 non-null  float64
 39   out_prncp_inv                               50000 non-null  float64
 40   total_pymnt                                 50000 non-null  float64
 41   total_pymnt_inv                             50000 non-null  float64
 42   total_rec_prncp                             50000 non-null  float64
 43   total_rec_int                               50000 non-null  float64
 44   total_rec_late_fee                          50000 non-null  float64
 45   recoveries                                  50000 non-null  float64
 46   collection_recovery_fee                     50000 non-null  float64
 47   last_pymnt_d                                49966 non-null  object
 48   last_pymnt_amnt                             50000 non-null  float64
 49   next_pymnt_d                                5995 non-null   object
 50   last_credit_pull_d                          49999 non-null  object
 51   last_fico_range_high                        50000 non-null  float64
 52   last_fico_range_low                         50000 non-null  float64
 53   collections_12_mths_ex_med                  50000 non-null  float64
 54   mths_since_last_major_derog                 14779 non-null  float64
 55   policy_code                                 50000 non-null  float64
 56   application_type                            50000 non-null  object
 57   annual_inc_joint                            236 non-null    float64
 58   dti_joint                                   235 non-null    float64
 59   verification_status_joint                   236 non-null    object
 60   acc_now_delinq                              50000 non-null  float64
 61   tot_coll_amt                                50000 non-null  float64
 62   tot_cur_bal                                 50000 non-null  float64
 63   open_acc_6m                                 21372 non-null  float64
 64   open_act_il                                 21372 non-null  float64
 65   open_il_12m                                 21372 non-null  float64
 66   open_il_24m                                 21372 non-null  float64
 67   mths_since_rcnt_il                          20810 non-null  float64
 68   total_bal_il                                21372 non-null  float64
 69   il_util                                     18617 non-null  float64
 70   open_rv_12m                                 21372 non-null  float64
 71   open_rv_24m                                 21372 non-null  float64
 72   max_bal_bc                                  21372 non-null  float64
 73   all_util                                    21372 non-null  float64
 74   total_rev_hi_lim                            50000 non-null  float64
 75   inq_fi                                      21372 non-null  float64
 76   total_cu_tl                                 21372 non-null  float64
 77   inq_last_12m                                21372 non-null  float64
 78   acc_open_past_24mths                        50000 non-null  float64
 79   avg_cur_bal                                 50000 non-null  float64
 80   bc_open_to_buy                              49547 non-null  float64
 81   bc_util                                     49518 non-null  float64
 82   chargeoff_within_12_mths                    50000 non-null  float64
 83   delinq_amnt                                 50000 non-null  float64
 84   mo_sin_old_il_acct                          48663 non-null  float64
 85   mo_sin_old_rev_tl_op                        50000 non-null  float64
 86   mo_sin_rcnt_rev_tl_op                       50000 non-null  float64
 87   mo_sin_rcnt_tl                              50000 non-null  float64
 88   mort_acc                                    50000 non-null  float64
 89   mths_since_recent_bc                        49564 non-null  float64
 90   mths_since_recent_bc_dlq                    12867 non-null  float64
 91   mths_since_recent_inq                       44747 non-null  float64
 92   mths_since_recent_revol_delinq              18082 non-null  float64
 93   num_accts_ever_120_pd                       50000 non-null  float64
 94   num_actv_bc_tl                              50000 non-null  float64
 95   num_actv_rev_tl                             50000 non-null  float64
 96   num_bc_sats                                 50000 non-null  float64
 97   num_bc_tl                                   50000 non-null  float64
 98   num_il_tl                                   50000 non-null  float64
 99   num_op_rev_tl                               50000 non-null  float64
 100  num_rev_accts                               50000 non-null  float64
 101  num_rev_tl_bal_gt_0                         50000 non-null  float64
 102  num_sats                                    50000 non-null  float64
 103  num_tl_120dpd_2m                            47273 non-null  float64
 104  num_tl_30dpd                                50000 non-null  float64
 105  num_tl_90g_dpd_24m                          50000 non-null  float64
 106  num_tl_op_past_12m                          50000 non-null  float64
 107  pct_tl_nvr_dlq                              50000 non-null  float64
 108  percent_bc_gt_75                            49504 non-null  float64
 109  pub_rec_bankruptcies                        50000 non-null  float64
 110  tax_liens                                   50000 non-null  float64
 111  tot_hi_cred_lim                             50000 non-null  float64
 112  total_bal_ex_mort                           50000 non-null  float64
 113  total_bc_limit                              50000 non-null  float64
 114  total_il_high_credit_limit                  50000 non-null  float64
 115  revol_bal_joint                             0 non-null      float64
 116  sec_app_fico_range_low                      0 non-null      float64
 117  sec_app_fico_range_high                     0 non-null      float64
 118  sec_app_earliest_cr_line                    0 non-null      float64
 119  sec_app_inq_last_6mths                      0 non-null      float64
 120  sec_app_mort_acc                            0 non-null      float64
 121  sec_app_open_acc                            0 non-null      float64
 122  sec_app_revol_util                          0 non-null      float64
 123  sec_app_open_act_il                         0 non-null      float64
 124  sec_app_num_rev_accts                       0 non-null      float64
 125  sec_app_chargeoff_within_12_mths            0 non-null      float64
 126  sec_app_collections_12_mths_ex_med          0 non-null      float64
 127  sec_app_mths_since_last_major_derog         0 non-null      float64
 128  hardship_flag                               50000 non-null  object
 129  hardship_type                               406 non-null    object
 130  hardship_reason                             406 non-null    object
 131  hardship_status                             406 non-null    object
 132  deferral_term                               406 non-null    float64
 133  hardship_amount                             406 non-null    float64
 134  hardship_start_date                         406 non-null    object
 135  hardship_end_date                           406 non-null    object
 136  payment_plan_start_date                     406 non-null    object
 137  hardship_length                             406 non-null    float64
 138  hardship_dpd                                406 non-null    float64
 139  hardship_loan_status                        406 non-null    object
 140  orig_projected_additional_accrued_interest  325 non-null    float64
 141  hardship_payoff_balance_amount              406 non-null    float64
 142  hardship_last_payment_amount                406 non-null    float64
 143  disbursement_method                         50000 non-null  object
 144  debt_settlement_flag                        50000 non-null  object
 145  debt_settlement_flag_date                   1537 non-null   object
 146  settlement_status                           1537 non-null   object
 147  settlement_date                             1537 non-null   object
 148  settlement_amount                           1537 non-null   float64
 149  settlement_percentage                       1537 non-null   float64
 150  settlement_term                             1537 non-null   float64
dtypes: float64(114), int64(1), object(36)
memory usage: 57.6+ MB
sec_app_open_acc           1.0
member_id                  1.0
revol_bal_joint            1.0
sec_app_fico_range_low     1.0
sec_app_fico_range_high    1.0
                          ...
initial_list_status        0.0
mort_acc                   0.0
mo_sin_rcnt_tl             0.0
mo_sin_rcnt_rev_tl_op      0.0
id                         0.0
Length: 151, dtype: float64

Step 3 : Feature Selection & Dropping Columns

In [4]:
# --- Feature Selection & Dropping Columns ---

# 1. Columns that are mostly or completely empty
# We identify these from your .info() output (e.g., member_id, sec_app..., hardship...)
cols_to_drop_empty = [
    'member_id', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high',
    'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc',
    'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts',
    'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med',
    'sec_app_mths_since_last_major_derog', 'hardship_type', 'hardship_reason', 'hardship_status',
    'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date',
    'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status',
    'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount',
    'hardship_last_payment_amount', 'desc', 'mths_since_last_record', 'mths_since_last_major_derog',
    'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'next_pymnt_d'
]

# 2. "Leaky" columns that contain information from the future (after the loan is issued)
leaky_columns = [
    'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
    'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
    'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
    'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low',
    'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status',
    'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term'
]

# 3. Unnecessary or redundant columns (IDs, free text, etc.)
unnecessary_cols = [
    'id', 'url', 'emp_title', 'zip_code', 'policy_code',
    'funded_amnt', # Usually identical to loan_amnt
    'funded_amnt_inv', # Usually identical to loan_amnt
    'sub_grade' # Grade is a less granular version that is often sufficient
]

# Combine all columns to drop into a single list
all_cols_to_drop = cols_to_drop_empty + leaky_columns + unnecessary_cols

# Use a set to handle any duplicates, then convert back to a list
all_cols_to_drop = list(set(all_cols_to_drop))

# Drop the columns from the DataFrame
df_sample_cleaned = df_sample.drop(columns=all_cols_to_drop, errors='ignore')

print("Column cleanup complete!")
print(f"Original number of columns: {len(df_sample.columns)}")
print(f"Number of columns after dropping: {len(df_sample_cleaned.columns)}")

Column cleanup complete!
Original number of columns: 151
Number of columns after dropping: 87

In [5]:
df_sample_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 87 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   loan_amnt                       50000 non-null  float64
 1   term                            50000 non-null  object
 2   int_rate                        50000 non-null  float64
 3   installment                     50000 non-null  float64
 4   grade                           50000 non-null  object
 5   emp_length                      47011 non-null  object
 6   home_ownership                  50000 non-null  object
 7   annual_inc                      50000 non-null  float64
 8   verification_status             50000 non-null  object
 9   issue_d                         50000 non-null  object
 10  loan_status                     50000 non-null  object
 11  pymnt_plan                      50000 non-null  object
 12  purpose                         50000 non-null  object
 13  title                           49868 non-null  object
 14  addr_state                      50000 non-null  object
 15  dti                             49999 non-null  float64
 16  delinq_2yrs                     50000 non-null  float64
 17  earliest_cr_line                50000 non-null  object
 18  fico_range_low                  50000 non-null  float64
 19  fico_range_high                 50000 non-null  float64
 20  inq_last_6mths                  50000 non-null  float64
 21  mths_since_last_delinq          26001 non-null  float64
 22  open_acc                        50000 non-null  float64
 23  pub_rec                         50000 non-null  float64
 24  revol_bal                       50000 non-null  float64
 25  revol_util                      49976 non-null  float64
 26  total_acc                       50000 non-null  float64
 27  initial_list_status             50000 non-null  object
 28  collections_12_mths_ex_med      50000 non-null  float64
 29  application_type                50000 non-null  object
 30  acc_now_delinq                  50000 non-null  float64
 31  tot_coll_amt                    50000 non-null  float64
 32  tot_cur_bal                     50000 non-null  float64
 33  open_acc_6m                     21372 non-null  float64
 34  open_act_il                     21372 non-null  float64
 35  open_il_12m                     21372 non-null  float64
 36  open_il_24m                     21372 non-null  float64
 37  mths_since_rcnt_il              20810 non-null  float64
 38  total_bal_il                    21372 non-null  float64
 39  il_util                         18617 non-null  float64
 40  open_rv_12m                     21372 non-null  float64
 41  open_rv_24m                     21372 non-null  float64
 42  max_bal_bc                      21372 non-null  float64
 43  all_util                        21372 non-null  float64
 44  total_rev_hi_lim                50000 non-null  float64
 45  inq_fi                          21372 non-null  float64
 46  total_cu_tl                     21372 non-null  float64
 47  inq_last_12m                    21372 non-null  float64
 48  acc_open_past_24mths            50000 non-null  float64
 49  avg_cur_bal                     50000 non-null  float64
 50  bc_open_to_buy                  49547 non-null  float64
 51  bc_util                         49518 non-null  float64
 52  chargeoff_within_12_mths        50000 non-null  float64
 53  delinq_amnt                     50000 non-null  float64
 54  mo_sin_old_il_acct              48663 non-null  float64
 55  mo_sin_old_rev_tl_op            50000 non-null  float64
 56  mo_sin_rcnt_rev_tl_op           50000 non-null  float64
 57  mo_sin_rcnt_tl                  50000 non-null  float64
 58  mort_acc                        50000 non-null  float64
 59  mths_since_recent_bc            49564 non-null  float64
 60  mths_since_recent_bc_dlq        12867 non-null  float64
 61  mths_since_recent_inq           44747 non-null  float64
 62  mths_since_recent_revol_delinq  18082 non-null  float64
 63  num_accts_ever_120_pd           50000 non-null  float64
 64  num_actv_bc_tl                  50000 non-null  float64
 65  num_actv_rev_tl                 50000 non-null  float64
 66  num_bc_sats                     50000 non-null  float64
 67  num_bc_tl                       50000 non-null  float64
 68  num_il_tl                       50000 non-null  float64
 69  num_op_rev_tl                   50000 non-null  float64
 70  num_rev_accts                   50000 non-null  float64
 71  num_rev_tl_bal_gt_0             50000 non-null  float64
 72  num_sats                        50000 non-null  float64
 73  num_tl_120dpd_2m                47273 non-null  float64
 74  num_tl_30dpd                    50000 non-null  float64
 75  num_tl_90g_dpd_24m              50000 non-null  float64
 76  num_tl_op_past_12m              50000 non-null  float64
 77  pct_tl_nvr_dlq                  50000 non-null  float64
 78  percent_bc_gt_75                49504 non-null  float64
 79  pub_rec_bankruptcies            50000 non-null  float64
 80  tax_liens                       50000 non-null  float64
 81  tot_hi_cred_lim                 50000 non-null  float64
 82  total_bal_ex_mort               50000 non-null  float64
 83  total_bc_limit                  50000 non-null  float64
 84  total_il_high_credit_limit      50000 non-null  float64
 85  hardship_flag                   50000 non-null  object
 86  disbursement_method             50000 non-null  object
dtypes: float64(71), object(16)
memory usage: 33.2+ MB

In [6]:
import numpy as np

# Make sure you are using your cleaned DataFrame from the previous step
# df_sample_cleaned = ...

# --- Step 1: Define the function to map loan_status to a binary target ---
def map_loan_status(status):
    if pd.isna(status):
        return np.nan
    status = str(status).lower()
    
    # Define what a "Bad Loan" is
    bad_loan_statuses = ['charged off', 'default', 'does not meet the credit policy. charged off']
    
    # Define what a "Good Loan" is
    good_loan_statuses = ['fully paid', 'does not meet the credit policy. fully paid']
    
    if any(st in status for st in bad_loan_statuses):
        return 1  # High Risk
    elif any(st in status for st in good_loan_statuses):
        return 0  # Low Risk
    else:
        # This will catch 'Current', 'In Grace Period', etc.
        return np.nan

# --- Step 2: Apply the function and create the target column ---
df_sample_cleaned['target'] = df_sample_cleaned['loan_status'].apply(map_loan_status)

# --- Step 3: Remove rows where the outcome is not yet final ---
# The .dropna() function will remove all rows where 'target' is NaN
df_sample_cleaned.dropna(subset=['target'], inplace=True)

# Optional: Drop the original 'loan_status' column as we now have 'target'
df_sample_cleaned.drop(columns=['loan_status'], inplace=True)

# --- Step 4: Check the results ---
print("Target variable 'target' created.")
print("Loans with non-final outcomes have been removed.")
print("\nClass distribution in your data sample:")
print(df_sample_cleaned['target'].value_counts())

Target variable 'target' created.
Loans with non-final outcomes have been removed.

Class distribution in your data sample:
target
0.0    34978
1.0     9028
Name: count, dtype: int64

Part A: Clean the Numerical Columns

In [7]:
import numpy as np

# 1. Identify all numerical columns (excluding our 'target' variable)
numerical_cols = df_sample_cleaned.select_dtypes(include=np.number).columns.tolist()
if 'target' in numerical_cols:
    numerical_cols.remove('target')

# 2. Loop through each numerical column and fill missing values with the median
print("Filling missing values in numerical columns...")
for col in numerical_cols:
    median_val = df_sample_cleaned[col].median()
    df_sample_cleaned[col].fillna(median_val, inplace=True)

print("Numerical columns cleaned.")

Filling missing values in numerical columns...
Numerical columns cleaned.

Part B: Convert Categorical Columns to Numbers

In [9]:
# 1. Identify all remaining categorical columns (they have the 'object' dtype)
categorical_cols = df_sample_cleaned.select_dtypes(include='object').columns.tolist()

print(f"\nApplying one-hot encoding to categorical columns: {categorical_cols}")

# 2. Apply one-hot encoding
# drop_first=True is a good practice to avoid redundant columns
df_final_sample = pd.get_dummies(df_sample_cleaned, columns=categorical_cols, drop_first=True, dtype=float)

print("Categorical columns converted.")

Applying one-hot encoding to categorical columns: ['term', 'grade', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'pymnt_plan', 'purpose', 'title', 'addr_state', 'earliest_cr_line', 'initial_list_status', 'application_type', 'hardship_flag', 'disbursement_method']
Categorical columns converted.

Final Verification

In [10]:
# Check for any remaining missing values (the output should be 0)
print("\nTotal remaining missing values:", df_final_sample.isnull().sum().sum())

# Check the data types of a few columns (they should all be numbers like float64, int64, or bool)
print("\nFinal DataFrame info:")
df_final_sample.info()

Total remaining missing values: 0

Final DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Index: 44006 entries, 0 to 49999
Columns: 765 entries, loan_amnt to application_type_Joint App
dtypes: float64(765)
memory usage: 257.2 MB